.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: transparent;
    border: none;
    outline: none;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-in-out;
}

.image {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 16px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.02);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}