.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a92bc9;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #cb23d1;
}